@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/functions.sass";

$blue-bayoux: #1b2d51;
$contessa: #b9606a;
$sun: #ffa604;
$catskill-light: #f5f9fa;
$mirage: #1b2d51;
$regent-grey: rgb(134, 146, 165);

$pomegranate: rgb(239, 60, 30);
$asparagus: rgb(109, 141, 80);
$parsley: rgb(14, 73, 29);

// Update Bulma's global variables
$primary: $blue-bayoux;
$link: $regent-grey;
$success: $asparagus;
$warning: $sun;
$danger: $pomegranate;
$text: $mirage;

$custom-colors: (
  "main-brand": $blue-bayoux,
  "accent-dark": $contessa,
  "accent-light": $sun,
  "shade-dark": $mirage,
  "shade-light": $catskill-light
);
