@charset "utf-8";

@import "./bulma/sass/utilities/functions.sass";

$pomegranate: #ef3c1e;
$san-marino: #3f57a1;
$periwinkle-gray: #c3cae4;
$white-rock: #eae5d0;
$golden-grass: #d79921;

$some-green: #0e491d;

$sycamore: #7d8d41;
$sorbus: #fa7c09;
$pomi: #f44336;

// Update Bulma's global variables
$primary: $pomegranate;
$link: $periwinkle-gray;
$success: $sycamore;
$warning: $sorbus;
$danger: $pomi;
// $scheme-main: $san-marino;
// $scheme-invert: $white-rock;

$custom-colors: (
  "accent-dark": ($san-marino, $white-rock),
  "accent-light": ($periwinkle-gray, $golden-grass),
  "shade-dark": ($golden-grass, $periwinkle-gray),
  "shade-light": ($white-rock, $some-green),
  "green-dark": ($some-green, $white-rock)
);
