@charset "utf-8";

.is-rounded {
  img {
    border-radius: $radius-large;
  }
}

.section-card {
  @extend .box;
  @extend .card;

  .card-image {
    margin-top: -$image-margin * 2;

  @extend .is-rounded;
  }  
}

@include until($desktop) {
  .section-card {
    margin-top: $column-gap * 2;
  }
}

.cookie-consent {
  z-index: 9999;
  position: fixed;
  display: block;
  bottom: 1em;
  right: 1em;
  max-width: 24em;

  transition: opacity 1s ease;
}
