@charset "utf-8";

@import "./colours.scss";
@import "./animations.scss";

.has-top-padding {
  padding-top: 1rem;
}

.has-top-border {
  border-top: .1rem solid;
}

.is-not-decorated {
  list-style-type: none;
}

@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/sass/base/_all.sass";
@import "./bulma/sass/elements/_all.sass";
@import "./bulma/sass/form/_all.sass";
@import "./bulma/sass/layout/_all.sass";
@import "./bulma/sass/components/_all.sass";
@import "./bulma/sass/grid/_all.sass";
