<nav class="navbar has-background-shade-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL | relLangURL }}">
      <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="shelfbar" onclick="this.classList.toggle('is-active'); document.querySelector('#shelfbar').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="shelfbar">
    <div class="navbar-start"></div>

    <div class="navbar-end">
    {{- range .Site.Menus.main -}}
      <a class="navbar-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    {{- end -}}

    {{- if .Site.IsMultiLingual -}}
      {{- $nextLanguage := index (first 1 (where .Site.Languages "Lang" "!=" $.Site.Language.Lang)) 0 -}}
      {{ range .Translations }}
        <a class="navbar-item" href="{{ .Permalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ $nextLanguage.Params.switchLanguageText }} {{ $nextLanguage.LanguageName }}</a>
      {{ else }}
        <a class="navbar-item" href="{{ .Lang | relURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ $nextLanguage.Params.switchLanguageText }} {{ $nextLanguage.LanguageName }}</a>
      {{ end }}
    {{ end }}
    </div>
  </div>
</nav>
