{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">My Montessori Shelf</h1>
          <h2 class="subtitle">A shelfful of Montesstories</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        {{- range first 1 (where .Site.RegularPages "Type" "about") -}}
        <div class="columns is-vcentered is-variable is-8">
          <div class="column is-one-third">
            <figure class="image">
              <img src="{{ .Params.Image | absURL }}">
            </figure>
          </div>
          <div class="column">
            <p class="content is-medium">{{ .Description }}</p>
            <a href="{{ .Permalink }}" class="button">{{ T "landing_about_more" }}</a>
          </div>
        </div>
        {{- end -}}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      {{ range (where .Pages ".Section" "in" .Site.Params.featured_sections) }}
      <div class="column is-one-quarter">
        <div class="card has-text-centered is-animated slides-in-up">
          <div class="card-image is-animated slides-in-right">
            <figure class="image">
              <img src="{{ .Params.image }}" alt="{{ .Title }}">
            </figure>
          </div>
          <div class="card-content">
            <h2 class="title is-2">{{ .Title }}</h2>
            <p class="content">{{ .Description }}</p>
            <a href="{{ .Permalink }}" class="button">{{ T .Params.read_more_label | humanize }}</a>
          </div>
        </div>
      </div>
      {{- end -}}
    </div>
  </div>
</section>

{{- range first 1 (where .Site.RegularPages "Type" "subscribe") -}}
<section class="section has-background-grey-dark">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-one-quarter">
        <h3 class="title is-3 has-text-white">{{ .Title }}</h3>
        <p class="content has-text-white">{{ .Description }}</p>
      </div>
      <div class="column is-half">
        {{ .Content | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}