{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <div class="column is-a-quarter">
              <figure class="image">
                <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Title }} logo">
              </figure>
            </div>
            <div class="column">
              <h1 class="title has-text-primary">{{ .Title }}</h1>
              <h2 class="subtitle has-text-green-dark">{{ .Site.Params.subtitle | markdownify}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section has-background-shade-dark has-text-white">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        {{- range first 1 (where .Site.RegularPages "Type" "about") -}}
        <div class="columns is-vcentered is-variable is-8">
          <div class="column is-one-third">
            <figure class="image is-rounded">
              <img src="{{ .Params.Image | absURL }}">
            </figure>
          </div>
          <div class="column">
            <p class="content is-medium">{{ .Description }}</p>
            <a href="{{ .Permalink }}" class="button is-primary is-family-sans-serif">{{ T "landing_about_more" }}</a>
          </div>
        </div>
        {{- end -}}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      {{ range (where .Pages ".Section" "in" .Site.Params.featured_sections) }}
      <div class="column is-one-quarter">
        <div class="section-card is-animated slides-in-up has-background-shade-dark has-text-white">
          <div class="card-image is-animated slides-in-up">
            <figure class="image">
              <img src="/images/author.jpg" alt="{{ .Title }}">
            </figure>
          </div>
          <div class="card-content has-background-dark-shade">
            <h2 class="title is-2 has-text-white">{{ .Title }}</h2>
            <p class="content">{{ .Description }}</p>
            <a href="{{ .Permalink }}" class="button is-primary is-fullwidth is-family-sans-serif">{{ T .Params.read_more_label | humanize }}</a>
          </div>
        </div>
      </div>
      {{- end -}}
    </div>
  </div>
</section>

{{- range first 1 (where .Site.RegularPages "Type" "subscribe") -}}
<section class="section has-background-green-dark">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-one-quarter">
        <h3 class="title is-3 has-text-white">{{ .Title }}</h3>
        <p class="content has-text-white">{{ .Description }}</p>
      </div>
      <div class="column is-half">
        {{ .Content | markdownify }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}